/* General Elements*/
body{
	background-image: url("../images/https://image.freepik.com/free-vector/abstract-background_53876-43362.jpg.png")
}
div{
	background-color: white;
	margin: 10px;
	width: 25%
}
div{
	border: solid 2px antiquewhite;
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}


/* Specfic Elements*/
div.header, div.crystals{
	background-color: #e0e0eb;
}
div.header {
	width: 50%;
}

/* IDs */
#number, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
}
#totalScore{
	width: 15%;
	height: 60px;
}
#crystals{
	clear: both;
}
#crystalsImage{
	height: 60px;
	margin: 10px;
}

#crystal-one{
    height: 200px;
    width: 200px;
}
#crystal-two{
    height: 200px;
    width: 200px;
}
#crystal-three{
    height: 200px;
    width: 200px;
}
#crystal-four{
    height: 200px;
    width: 200px;
}